.badge_tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  background-color: white;
  margin-top: 0%;
}

.all_badges_link {
  color: #858585;
  align-self: flex-end;
  margin-right: 2%;
  margin-bottom: 2%;
}

.all_badges_link:hover {
  text-decoration: underline;
}

.page-title {
  align-self: center;
  margin: 0;
}

.badge-grid {
  display: grid;
  grid-template-rows: 100px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  width: 100%;
  margin: 0;
  padding-bottom: 7%;
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}
  
.badge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
}

.badge-category {
  margin: 0 0 10px 5%;
  font-size: 16px;
  color: rgb(113, 113, 113);
}

.no-badges-message {
  margin-left: 5%;
  margin-bottom: 5%;
}