.question {
  display: flex;
  flex-direction: row;
  border-top: #000000 1px dashed;
  position: relative; /* Make sure the parent is positioned for absolute children */
}

.profile-hover-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /* Ensure the hover appears above other content */
  visibility: hidden; /* Hide by default */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.profile-hover-container.show {
  visibility: visible;
  opacity: 1; /* Make visible when hover state is true */
}

.postStats {
  color: #bbbbbb;
  text-align: center;
  width: 10%;
}

.question_mid {
  width: 60%;
}

.postTitle {
  color: cornflowerblue;
}

.question_tags {
  margin-top: 1%;
}

.question_tag_button {
  color: #ffffff;
  background: gray;
  border-width: 0;
  border-radius: 8px;
  margin-left: 2%;
  padding: 1% 3% 1% 3%;
}

.question_tag_button:first-child {
  margin-left: 0;
}

.lastActivity {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.question_author {
  color: red;
}

.question_author:hover {
  text-decoration: underline;
}

.question_meta {
  color: #bbbbbb;
}
