.page-background {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.badge-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 90%;
  border-radius: 12px;
  margin-top: 5%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  background-color: white;
  margin-bottom: 10%;
}

.page-title {
  font-size: 70px;
  margin-top: 40%;
  margin-bottom: 4%;
}

.all-badges {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f2f2;
}

.badge-category {
  align-self: flex-start;
}

.badge-grid {
  display: grid;
  grid-template-rows: 100px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(3, 1fr);
  gap: 6%;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 10%;
}
  
.badge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

