.badge-hover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f6f6f6; 
  border: 2px solid #ccc;
  padding: 3%;
  border-radius: 5px;
  z-index: 1000; 
  display: flex;
  flex-direction: row;
  gap: 12%;
}

.badge-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.badge-info > :first-child {
    font-weight: bold;
    margin-bottom: 5%;
}

.user-count {
  color:green;
  font-size: 15px;
  margin-top: 5%
}