
.backgroundContainer {
background-color: #f2f2f2;
height: 90%;
width: 92%;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
padding-left: 4%;
padding-right: 4%;
}

.leftBubble {
background-color: white;
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
height: 75%;
width: 30%;
}

.rightBubble {
background-color: white;
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
height: 75%;
width: 68%;
}

.profileHeaderInfo {
display: flex;
flex-direction: row;
margin-left: 5%;
}

.profileHeaderUsername {
display: flex;
flex-direction: column;
padding-top: 2%;
}

.profileHeaderUsername div:first-child {
font-size: 30px;
font-weight: bold;
}

.profileHeaderUsername div:last-child {
padding-top: 2%;
color: #858585;
}

