.answer_question_meta {
  color: #bbbbbb;
}

.ansButton {
  margin: 2% 0 2% 2%;
}

.report-button {
  font-size: 16px;
  width: 100%;
  max-width: 75px;
  max-height: 35px;
  background-color: #b0b0b0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 10px;
}

.report-button:hover {
  background-color: #8f8f8f;
}

.report-button:active {
  background-color: #7a7a7a;
}
